@import "../../services/Variables";

.container {
  max-width: 600px;
  width: 100%;
  margin: 15px auto 0;
  border-radius: $border-radius;
  border: $border;
  background-color: $background-color-fon;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem;
  &_main_title {
    text-align: center;
    margin: 15px 0;
  }

  &_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_labels{
      display: flex;
      flex-direction: column;
      width: 80%;
    }
    &_label{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 15px 0;
      align-items: center;
      input{
        border-radius: $border-radius;
        border: 1px solid #ccc;
        padding: 0.5rem 0.5rem;
        width: 100%;
      }
    }

    &_footer_with_button_and_link{
      width: 80%;
display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &_button {
      background-color: #0d6efd;
      color: #fff;
      border-radius: $border-radius;
      border: 1px solid #ccc;
      padding: 0.5rem 0.5rem;
      transition: background-color 0.3s ease;
      font-size: 16px;
      margin: 15px 0;
      &:hover {
        background-color: #0957ca;
      }
    }
  }
}