@import "../../../services/Variables";

.show_alert {
    border-radius: $border-radius;
    border: $border;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
    background-color: #ff7f50;
    color: #333333;
    position: absolute;
    z-index: 2;
    bottom: 15%;
    right: 5%;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    display: block;
}

.hidden_alert {
    display: none;
    opacity: 0;
}
