@import "../../services/Variables";

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-radius: $border-radius;
    border: $border;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
    background-color: $background-color-fon;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &_logo {
        p {
            font-size: 16px;
            color: #0d6efd;
            margin: 10px 0;
        }
    }
    &_block_with_buttons {
        &_button {
            background-color: #0d6efd;
            color: #fff;
            border-radius: $border-radius;
            border: $border;
            box-shadow: 0 8px 16px rgba(13, 110, 253, 0.2), 0 0 8px rgba(13, 110, 253, 0.2);
            padding: 0.5rem 0.5rem;
            transition: background-color 0.3s ease;
            font-size: 16px;
            cursor: pointer;
            &:hover {
                background-color: #0957ca;
            }
        }
    }
}
